<div class="splash-block">
    <div class="splash-images">
        <div class="splash-image" style="background-image: url(<%= image_path 'landing_splash_farm.jpg' %>);"></div>
        <div class="splash-image" style="background-image: url(<%= image_path 'landing_splash_fruits.jpg' %>);"></div>
        <div class="splash-image" style="background-image: url(<%= image_path 'landing_splash_veggies.jpg' %>);"></div>
    </div>
    <div class="splash-overlay"></div>
    <div class="splash-title">
        <div class="row">
            <div class="small-12 columns">
                <h1 class="text-center">Food Shift</h1>
                <h2 class="text-center">Be a part of the movement to reduce wasted food.</h2>
                <div class="row button-row">
                    <div class="small-1 small-offset-4 columns">
                        <a href="<%= donations_new_url %>" class="right transparent-button">Donate Food</a>
                    </div>
                    <div class="small-1 small-offset-2 end columns">
                        <a href="<%= recipients_new_url %>" class="left transparent-button">Receive Food</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full-width-off-white">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="block-title text-center">How It Works</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-2 small-offset-1 medium-1 medium-offset-2 columns">
            <h3 class="circle-border text-center"><i class="fa fa-heart-o"></i></h3>
        </div>
        <div class="small-8 medium-7 end columns">
            <h3><a class="dark-green" href="<%= donations_new_url %>">Donate</a></h3>
            <p>
              Are you a food service business with extra food? Fill in details, and we will connect you with an organization to pick up your surplus food.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-2 small-offset-1 medium-1 medium-offset-2 columns">
            <h3 class="circle-border text-center"><i class="fa fa-thumbs-o-up"></i></h3>
        </div>
        <div class="small-8 medium-7 end columns">
            <h3><a class="dark-green" href="<%= recipients_new_url %>">Request</a></h3>
            <p>
              Does your nonprofit need extra food? Fill in information about your organization and we will notify you when food donations are available.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="small-2 small-offset-1 medium-1 medium-offset-2 columns">
            <h3 class="circle-border text-center"><i class="fa fa-truck"></i></h3>
        </div>
        <div class="small-8 medium-7 end columns">
            <h3><a class="dark-green" href="#">Deliver</a></h3>
            <p>
              Food Shift's coordinators will find the best matches between donor and recipients.
            </p>
        </div>
    </div>
</div>

<%= javascript_include_tag "application/home" %>
