<div class="row">
  <div class="small-9 columns">
    <h4><%= d.description %></h4>

    <% if d.status == Donation.type_completed %>
      <b>Recipient:</b> <%= find_recipient_profile(find_transaction_recipient(d.id).id).contact_person %>  <br>
      <b>Picked up at:</b> <%= find_transaction(d.id).picked_up_at %> | <b>Delivered at:</b> <%= find_transaction(d.id).delivered_at %> <br>
    <% end %>

  </div>
  <div class="small-3 columns">
    <div class="donation-modify">
      <span class="donation-status"><%= d.status %></span> <br>

      <% if d.status == Donation.type_pending %>
        <%= link_to "Cancel Donation", donations_cancel_path(d), class: "donation-modify-link donation-cancel" %>
      <% elsif d.status == Donation.type_in_progress %>
        Cannot Cancel Donation<br>
      <% end %>

    </div>
  </div>
</div>
