<div class="row">
  <div class="small-9 columns">
    <h4><%= d.description %></h4>

    <% if d.status == Donation.type_completed %>
      <b>Coordinator:</b> <%= find_transaction_coordinator(d.id).email %> | <b>Recipient:</b> <%= find_transaction_recipient(d.id).email %>  <br>
      <b>Picked up at:</b> <%= find_transaction(d.id).picked_up_at %> <br>
      <b>Delivered at:</b> <%= find_transaction(d.id).delivered_at %> <br>
    <% elsif d.status == Donation.type_in_progress %>
      <br>
      Some kind of progress bar here...
    <% end %>

  </div>
  <div class="small-3 columns">
    <div class="donation-modify">
      <span class="donation-status"><%= d.status %></span> <br>

      <% if d.status == Donation.type_pending %>
        <%= link_to "Cancel Donation", donations_cancel_path(d), class: "donation-modify-link donation-cancel" %> <!-- NEEDS TO BE IMPLEMENTED -->
      <% elsif d.status == Donation.type_in_progress %>
        Cannot Cancel Donation<br>
      <% end %>

    </div>
  </div>
</div>
