<!-- <%= render 'coordinator/subnav' %>
<div class="coordinator-dashboard-schedule-block">
    <div id="schedule-content"></div>
</div>

<%= javascript_include_tag "react_components/modals" %>
<%= javascript_include_tag "react_components/react_script_loader" %>
<%= javascript_include_tag "react_components/coordinator/map" %>
<%= javascript_include_tag "react_components/coordinator/schedule" %>
-->

<style>

  .filler {
    height: 50px;
    width: 100%;
  }

  .profile-container, .donation-container {
    font-size: 12px;
    background: #fff;
    width: 68%;
    margin: 0 auto;
    padding: 15px;
  }

  .profile-container {
    min-height: 350px;
  }

  .donation-container {
    min-height: 0px;
  }

  .profile-container h1, .donation-container h1 {
    background: #3ca532;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .profile-img {
    height: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 12px;
  }

  .profile-label {
    font-weight: 400;
    color: #28642d;
  }

  .profile-information {
    float: left;
    width: 70%;
  }

  .update-profile-link {
    background: #f3f3f3;
    color: #555;
    width: 100px;
    padding: 8px;
    text-decoration: none;
  }

  .profile-summary {
    min-height: 240px;
    padding: 12px;
    width: 25%;
    float: right;
    background: #f3f3f3;
  }

  .profile-summary h2 {
    color: #3ca532;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .profile-summary-content {
    margin-top: -4px;
    border-radius: 2px;
    float: right;
    background: #ddd;
    padding: 4px 8px;
  }

  .donation-item {
    background: #fafafa;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
  }

  .donation-title {
    float: left;
    width: 70%;
  }

  .donation-modify {
    float: right;
    width: 200px; 
    text-align: right;
  }

  .donation-status {
    text-align: right;
    float: right;
    font-weight: 400;
  }

  .donation-completed {
    color: #3ca532;
  }

  .donation-inprogress {
    color: #91d957;
  }

  .donation-pending {
    color: #7b7b7b;
  }

  .donation-filler {
    height: 10px;
    width: 100%;
  }

  .donation-modify-link {
    float: right;
  }

  .donation-cancel {
    color: red;
  }

  .donation-item h1 {
    font-size: 15px;
    text-align: left;
    background: none;
    color: #3ca532;
    padding: 0px;
    margin: 0px 0px 10px 0px;
  }

  .donation-key-container {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
  }

  .donation-key {
    float: left;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .donation-key-description {
    margin-right: 20px;
    float: left;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .donation-key-pending {
    background: #eaeaea;
  }

  .donation-key-inprogress {
    background: #d4f4c9;
  }

  .donation-key-completed {
    background: #3ca532;
    color: #fff;
  }

  b {
    font-weight: 400;
  }

</style>

<div class="filler"></div>
<div class="profile-container">
  <h1>Welcome, <%= @user.email %> (User ID: <%= @user.id %>)</h1>
  <div class="profile-information">
    <%= image_tag "profile_img.png", class: "profile-img" %> 
    <span class="profile-label">Subscribed?</span> <br>
    <% if @user.subscribed %> Yes <% else %> No <% end %><br> <br>
    <span class="profile-label">Phone</span> <br>
    408-823-2389 (this is hard coded) <br> <br>
    <span class="profile-label">Address</span> <br>
    123 Some Street Here <br>
    Berkeley, CA 94704 (also hard coded, should users have a set address?) <br> <br>
    <span class="profile-label">Email</span> <br>
    <%= @user.email %> <br> <br>
  </div>
  <div class="profile-summary">
    <h2>Donation Summary</h2>
    <span class="profile-label">Completed Donations</span> 
    <span class="profile-summary-content"><%= @completed_donations.count %></span> <br> <br>
    <span class="profile-label">In Progress Donations</span> 
    <span class="profile-summary-content"><%= @inprogress_donations.count %></span> <br> <br>
    <span class="profile-label">Pending Donations</span>  
    <span class="profile-summary-content"><%= @pending_donations.count %></span> <br> <br> 
  </div>
</div>
<div class="filler"></div>
<div class="donation-container">
  <h1>Donation History (<%= @donations.count %>)</h1>
  
  <div class="donation-key-container">
    <div class="donation-key donation-key-pending">Pending</div>
    <div class="donation-key-description">Needs Coordinator and/or Recipient</div>
    <div class="donation-key donation-key-inprogress">In Progress</div>
    <div class="donation-key-description">Coordinator and Recipient Assigned</div>
    <div class="donation-key donation-key-completed">Completed</div>
    <div class="donation-key-description">Donation Delivered</div>
  </div>

  <% @donations.each do |d| %>
  <div class="donation-item">
    <div class="donation-modify">
      <span class="donation-status donation-#{d.status}"><%= d.status %></span> <br>
      <% if d.status == "Pending" %> 
        <%= link_to "Cancel Donation", root_path, class: "donation-modify-link donation-cancel" %> <!-- NEEDS TO BE IMPLEMENTED -->
        <br>
      <%= link_to "Modify Donation", root_path, class: "donation-modify-link" %> <!-- NEEDS TO BE IMPLEMENTED -->
      <% elsif d.status == "In Progress" %>
        Cannot Cancel Donation<br>
        <%= link_to "Update Donation", root_path, class: "donation-modify-link" %> <!-- NEEDS TO BE IMPLEMENTED -->
      <% end %>
    </div>
    <h1><%= d.description %></h1>
    <b>Contact:</b> <%= d.person %> | <b>Phone:</b> <%= d.phone %> | <b>Email:</b> <%= d.email %><br> 
    <b>Organization:</b> <%= d.organization %> | <b>Address:</b> <%= d.address %> 
    <% if d.status == "Completed" %>
      <br> <br>
      <b>Coordinator:</b> <%= find_transaction_coordinator(d.id).email %> | <b>Recipient: <%= find_transaction_recipient(d.id).email %>  <br>
      <b>Picked Up:</b> <%= find_transaction(d.id).picked_up_at %> <br> 
      <b>Delivered Up:</b> <%= find_transaction(d.id).delivered_at %> <br> 
    <% elsif d.status == "In Progress" %>
      <br> <br>
      Some kind of progress bar here...
    <% end %>
  </div>
  <% end %>
</div>

<div class="filler"></div>