<h2>Notify Recipients</h2>
<% @recipients.each do |r| %>
<li> <%= r.email %>
<% end %>

<% @donations.each do |d| %>
<li> <%= d.quantity %> of <%= d.food_type %> 
<%= button_to 'Notify of this donation!', action: :notify_recipient, method: :post, params: { id: "#{d.id}" } %>
<% end %>

<h2>Notify Coordinators</h2>
<% @coordinators.each do |r| %>
<li> <%= r.email %>
<% end %>


<% @donations.each do |d| %>
<li> <%= d.quantity %> of <%= d.food_type %> 
<%= button_to 'Notify of this donation!', action: :notify_coordinator, method: :post, params: { id: "#{d.id}" } %>
<% end %>

<h2>Notify Donors</h2>
<% @donors.each do |r| %>
<li> <%= r.email %>
<% end %>

<%= button_to 'Notify Donors', action: :notify_donor %>