<%= render 'coordinator/subnav' %>
<div class="coordinator-dashboard-deliver-block">
    <div id="deliver-content"></div>
</div>

<%= javascript_include_tag "react_components/modals" %>
<%= javascript_include_tag "react_components/alert" %>
<%= javascript_include_tag "react_components/react_script_loader" %>
<%= javascript_include_tag "react_components/coordinator/map" %>
<%= javascript_include_tag "react_components/coordinator/deliver" %>
