<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :person %><br>
    <%= f.text_field :person %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :pickup_window_start %><br>
    <%= f.datetime_local_field :window_start %>
  </div>
  <div class="field">
    <%= f.label :pickup_window_end %><br>
    <%= f.datetime_local_field :window_end %>
  </div>
  <div class="field">
    <%= f.label :refrigeration %><br>
    <%= f.check_box :refrigeration %>
  </div>
  <div class="field">
    <%= f.label :food_type %><br>
    <%= f.text_field :food_type %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :additional_information %><br>
    <%= f.text_area :additional_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
