<div id="donor-form-image-block">
  <div class="donor-form-image"></div>
  <div class="donor-form-image-overlay"></div>
  <div class="donor-form-content">
    <div class="row">
      <div class="small-8 small-centered columns">
        <h1 class="text-center">Donate</h1>
        <p>Are you a food service business with extra food? Fill in details below about food type, quantity, and pick up location, and we will connect you with an organization in need of your food!</p>
        <div class="text-center">
          <a id="scroll-arrow"><i class="fa fa-chevron-circle-down fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for :donation, :html => { :"data-abide" => "", :multipart => true } do |f| %>

  <p>
  <%= f.label :"Upload a picture of the food!" %>
  <%= f.file_field :picture %>
  </p>

  <p>
  <%= f.label :"Description" %><br />
  <%= f.text_area :description %>
  </p>

  <p>
  <%= f.label :"Does the food need to be refrigerated?" %><br />
  <%= f.check_box :refrigeration %>
  </p>

  <h3>Pickup Information</h3>

  <p>
  <%= f.label :Address %>
  <%= f.text_field :address %>
  </p>

  <p>
  <%= f.label :Date %>
  <%= f.datetime_local_field :date %>
  </p>

  <p>
  <%= f.label :From %>
  <%= f.time_field :start_time %>
  </p>

  <p>
  <%= f.label :To %>
  <%= f.time_field :end_time %>
  </p>

  <p>
  <%= f.label :Name %>
  <%= f.text_field :person %>
  </p>

  <p>
  <%= f.label :Organization %>
  <%= f.text_field :organization %>
  </p>

  <p>
  <%= f.label :Email %>
  <%= f.text_field :email %>
  </p>

  <p>
  <%= f.label :Phone %>
  <%= f.telephone_field :phone %>
  </p>

  <p>
  <%= f.label :"Anything else we should know about your donation?" %>
  <%= f.text_area :additional_info %>
  </p>

  <p><%= f.submit %></p>
<% end %>

<%= javascript_include_tag "react_components/forms" %>
<%= javascript_include_tag "react_components/buttons" %>
<%= javascript_include_tag "react_components/donor_form" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
<%= javascript_include_tag "application/donor_form" %>
