<div id="donor-form-image-block">
  <div class="donor-form-image"></div>
  <div class="donor-form-image-overlay"></div>
  <div class="donor-form-content">
    <div class="row">
      <div class="small-8 small-centered columns">
        <h1 class="text-center">Donate</h1>
        <p>Are you a food service business with extra food? Fill in details below about food type, quantity, and pick up location, and we will connect you with an organization in need of your food!</p>
        <div class="text-center">
          <a id="scroll-arrow"><i class="fa fa-chevron-circle-down fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<%= form_for :donation, :html => { :id => "donor-form-fields", :"data-abide" => "ajax", :multipart => true } do |f| %>
  <div id="donor-form-food-block">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="text-center block-title">Describe your donation!</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 medium-centered columns">
        <%= f.text_area :description, required: "", placeholder: "Please estimate the weight and/or volume of the food donation.", rows: "5" %>
        <small class="error">Description is required.</small>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-offset-2 medium-4 columns">
        <div class="row">
          <div class="small-6 columns">
            <%= f.file_field :picture, required: "" %>
            <small class="error">Picture is required.</small>
          </div>
          <div class="small-6 columns">
            <span>Upload a picture of your donation!</span>
          </div>
        </div>
      </div>
      <div class="small-12 medium-6 end columns">
        <div class="row">
          <div class="small-12 end columns">
            <%= f.check_box :refrigeration %> <label for="donation_refrigeration">Does your donation require refrigeration?</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="donor-form-pickup-block">
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <h3 class="text-center block-title">Pickup Information</h3>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Address</span>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :address, required: "", value: !@profile.nil? ? @profile.address : "" %>
            <small class="error">Address is required.</small>
            <%= f.hidden_field :latitude, id: "donor-address-lat" %>
            <%= f.hidden_field :longitude, id: "donor-address-lng" %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Date</span>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :date, required: "", value: Date.today.strftime("%m/%d/%Y") %>
            <small class="error">Valid date is required (MM-DD-YY).</small>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix">From</span>
          </div>
          <div class="small-4 columns">
            <%= f.text_field :start_time, required: "", value: "12:00pm" %>
            <small class="error">Valid time is required (HH:MMam/pm).</small>
          </div>
          <div class="small-2 columns">
              <span class="prefix">To</span>
          </div>
          <div class="small-4 columns">
            <%= f.text_field :end_time, required: "", value: "01:00pm" %>
            <small class="error">Valid time is required (HH:MMam/pm).</small>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-1 small-offset-3 columns">
              <%= f.check_box :can_dropoff %>
          </div>
          <div class="small-6 end columns">
              <span>I can drop off this donation to a local charity</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="donor-form-detail-block">
    <div class="row">
      <div class="small-12  medium-8 medium-centered columns">
        <h3 class="text-center block-title">About You</h3>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Name</span>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :person, required: "", value: !@profile.nil? ? @profile.person : "" %>
            <small class="error">Name is required.</small>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Organization/Company Name</span>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :organization, required: "", value: !@profile.nil? ? @profile.organization : "" %>
            <small class="error">Organization is required.</small>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Email</span>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :email, required: "", value: !current_user.nil? ? current_user.email : "" %>
            <small class="error">Valid email addess is required.</small>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">Phone</span>
          </div>
          <div class="small-9 columns">
            <%= f.telephone_field :phone, pattern: "phone", required: "", value: !@profile.nil? ? @profile.phone : "" %>
            <small class="error">Valid phone number is required.</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="donor-form-submit-block">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="text-center block-title">Anything else we should know about your donation?</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-8 medium-centered columns">
        <%= f.text_area :additional_info, placeholder: "Include specific instructions for pickup, types of containers needed, etc...", rows: "5" %>
      </div>
    </div>
    <div class="row form-padding">
      <div class="small-12 columns">
        <div class="text-center donate-block">
          <%= f.submit :value => "Donate!", :class => "success-button" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="donation-modal"></div>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
<%= javascript_include_tag "react_components/modals" %>
<%= javascript_include_tag "react_components/donations/donor_form" %>
<%= javascript_include_tag "application/donor_form" %>
