<div class="sign-in-block">
    <div class="row">
        <div class="small-12 medium-6 medium-centered columns">

            <h1>Sign In</h1>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Email</span>
                </div>
              <div class="small-9 columns">
                  <%= f.email_field :email, autofocus: true %>
              </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Password</span>
                </div>
                <div class="small-9 columns">
                    <%= f.password_field :password, autocomplete: "off" %>
                 </div>
            </div>
            <div class="row">
                <div class="small-6 columns">
                    <%= render "devise/shared/links" %>
                </div>
                <div class="small-6 columns">
                    <% if devise_mapping.rememberable? -%>
                    <div class="row">
                        <div class="small-12 columns">
                            <span class="remember-me-checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></span>
                        </div>
                    </div>
                    <% end -%>
                    <div class="row">
                        <div class="small-12 columns">
                            <input class="sign-in-button" name="commit" type="submit" value="Sign In">
                        </div>
                    </div>
                </div>
            </div>

            <% end %>
        </div>
    </div>
</div>
