<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= content_for?(:title) ? yield(:title) : "Food Shift" %></title>

    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.6/slick.css' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800' %>
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/css/toastr.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.0/js/toastr.min.js" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/notifications' %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.6/slick.min.js" %>
  </body>
</html>
