<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Food Shift" %></title>

    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.6/slick.css' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.6/slick.min.js" %>
  </body>
</html>
